.accordion___header {
    padding: 20px;
    background-color: $theme-primary;
    background-color: var(--theme-primary-ebp);
    color: #FFF;
    font-family: var(--font-secondary);
  }

.i-amp-accordion section {
  margin: 0 20px;
}

