.card {
    &__media {
        border-color: var(--theme-primary);
    }
    &__media--16-9:before {
        margin-top: 56.25%;
    }
    &___primary {
        .logo{
            height:50px;
        }
    }
    &___title {

    }
    &__subtitle{
        
    }

}
