footer {
    color: #9e9e9e;
    // background-color: var(--snackbar-surface);
    a.h5.btn.block {
        color: #e0e0e0;
        font-family: var(--font-secondary);
        font-weight: 300;
    }
    p {
        font-family: var(--font-secondary);
        font-weight: 300;
    }   
}