body {
    // Improve font rendering
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--black-dark);
    font-family: var(--font-primary);
}

li, ul, ol {
    font-family: var(--font-primary);
    line-height: 1.5rem;
}
.subtitle2 {
    color: var(--black-medium);
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 500;
        letter-spacing: .0071428571em;
}
p,
.body1 {
    // font-family: $mdc-typography-font-family;
    font-family: var(--font-primary);

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;

    margin-block-start: 1em;
    margin-block-end: 1em;
    color: var(--black-dark);
}

.body2 {
    font-size: var(--body2);
    letter-spacing: 0.5 px;
    color: var(--black-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    color: var(--black-dark);
    word-break: break-word;
}


h1,
.h1 {
    letter-spacing: .82px;
}

h2,
.h3 {
    letter-spacing: .72px;
}

h3,
.h3 {
    letter-spacing: .58px;
}

h4,
.h4 {
    letter-spacing: .5px;
}

h5,
.h5 {
    letter-spacing: .44px;
}

h6,
.h6 {
    letter-spacing: .4px;
}
