/* Grid System CSS ============================================================= */

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display: block; }
mark, rp, rt, ruby, summary, time { display: inline }

body {background:#EAEAEA url(../images/bg.jpg) repeat;}
input,textarea{border:1px solid #DDD;padding:5px;}

/*Layout*/

#top{height:90px;width:65px;position:fixed;right:0;left:20px;top:0px}
#container{width:940px;margin:0 auto;}

#header_top{height:40px;background:#111;}

.search  {float:right;margin: 0;}
.search #searchform  {position:relative;top:7px }
.search input#s  {float:left; width: 176px; padding: 5px 0 5px 10px;background:#FFF;color:#999; }
.search input.submit  {float:right;padding: 0px 0 0 8px;border:0 }

#head{width:940px;height:200px;background:transparent}

ul.menu{height:40px;float:right}
ul.menu li{display:inline}

h1.logo {position:relative;top:61px;color:#333;border-bottom:1px solid #CCC;width:100%}
#slider {height:280px;background:#000;width:940px;margin-bottom:80px}
.slideshow {height:280px;width:940px;margin:0 auto;background:#000}
.slideshow img {border:0;background-color:transparent; }
#slider_nav{position:absolute;top:240px;height:280px;z-index:7;width:940px;overflow:auto}

#slider_nav .left{float:left;position:relative;top:120px}
#slider_nav .right{float:right;position:relative;top:120px}

#footer{background:#222}
#footer h3{color:#FFF}
.wrap{width:940px;margin:0 auto}
#credits{height:40px;background:#111;}
#credits p {line-height:40px}

/*Top Menu*/

ul.top_menu{height:40px;margin:0;float:left;}
ul.top_menu li{display:inline;line-height:40px}
ul.top_menu li a{margin-right:20px}
ul.top_menu li a:hover{color:#FFF;text-decoration:none}

.divide{clear:both;height:40px;}
.clr{clear:both}

/*Four Columns*/

.four_col_a{width:220px;float:left}
.four_col_b{width:220px;float:left;margin-left:20px}
.four_col_c{width:220px;float:left;margin-left:20px}
.four_col_d{width:220px;float:left;margin-left:20px}

/*Blog Style*/

.content_left{width:700px;float:left;}

.post_meta{float:right;width:98px;padding:0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;height:100%}
.post_meta p {font-style:italic}
.post_meta h3 {}
.post {width:560px;float:left;margin-bottom:40px;margin-right:20px}
.post img {width:218px;height:178px;border:1px solid #CCC;float:right;margin:0 0 10px 10px}
.content_right{width:220px;float:right;margin-left:20px;text-align:right;}
.content_right a {color:#2c7a97}
.content_right ul {margin-bottom:40px}

div.comments textarea{width:500px;background:#FFF;color:#333;border:1px solid #CCC}
img.avatar {float:right; margin:0 20px 0px 20px;width:100px;height:100px}
div#comment-box{border-bottom:1px dotted #CCC;margin-bottom:50px;min-height:130px}


