{{ if isset .Params "image" }}

{{ $page := . }}      
{{ $image := (.Resources.ByType "image").GetMatch "*header.jpg" }}
{{/*  {{ $image := (.Resources.ByType "image").GetMatch $page.Params.image }}  */}}
{{ $placeholder := $image.Resize "48x24 smart q20" }}  

{{ $resized2048 := $image.Fill "2048x421 smart" }}

<figure class="m0" itemscope itemtype="http://schema.org/ImageObject">
  <div {{ if ne .Params.headerShadow false }}class=""{{ end }}> {{/* mdc-elevation--z12 */}}
  <amp-img itemprop="image" src="{{ $resized2048.RelPermalink }}" srcset="
    {{ $resized2048.RelPermalink }} 2048w, 
    {{ ($image.Fill "1366x281 smart").RelPermalink }} 1366w, 
    {{ ($image.Fill "768x158 smart").RelPermalink }} 768w, 
    {{ ($image.Fill "375x77 smart").RelPermalink }} 375w
    "
    alt="{{ .Title }}" layout="responsive" {{/*  You can use aspect ratio in amp-img  */}} width="{{ if isset .Params "width" }}{{ .Params.width }}{{ else }}4.869269949{{ end }}"
    height="{{ if isset .Params "height" }}{{ .Params.height }}{{ else }}1{{ end }}" class="header-hero--image ">
    {{/* class="{{ .class }}" > */}}
    <amp-img placeholder src="{{ $placeholder.RelPermalink }}" layout="fill">
    </amp-img>
  </amp-img>
  </div>
  {{ if isset .Params "figcaption" }}<figcaption class="pl2 mt1 imageCaption">{{ .Params.figcaption }}</figcaption>{{ end }}
</figure>
{{ else }}
  {{ if ne .Params.disableHero true }}
  <figure itemscope itemtype="http://schema.org/ImageObject">
    <div class=""> {{/* mdc-elevation--z12 */}}
      <amp-img itemprop="image" src="/cdn/theme/images/hero/hero_5120x1051.webp" srcset="
        /cdn/theme/images/hero/hero_5120x1051.webp 5120w,
        /cdn/theme/images/hero/hero_2560x526.webp 2560w,
        /cdn/theme/images/hero/hero_2048x421.webp 2048w, 
        /cdn/theme/images/hero/hero_1366x281.webp 1366w, 
        /cdn/theme/images/hero/hero_768x158.webp 768w, 
        /cdn/theme/images/hero/hero_375x77.webp 375w
        "
        alt="Hero image alt" layout="responsive"
        width="4.869269949"
        height="1" class="header-hero--image ">
        <amp-img placeholder src="hero.svg" layout="fill">
        </amp-img>
        <amp-img fallback itemprop="image" src="/cdn/theme/images/hero/hero_5120x1051.jpg" srcset="
          /cdn/theme/images/hero/hero_5120x1051.jpg 5120w,
          /cdn/theme/images/hero/hero_2560x526.jpg 2560w,
          /cdn/theme/images/hero/hero_2048x421.jpg 2048w, 
          /cdn/theme/images/hero/hero_1366x281.jpg 1366w, 
          /cdn/theme/images/hero/hero_768x158.jpg 768w, 
          /cdn/theme/images/hero/hero_375x77.jpg 375w
          "
          alt="Hero image alt" layout="responsive"
          width="4.869269949"
          height="1" class="header-hero--image ">
          <amp-img placeholder src="/cdn/theme/images/hero/hero.svg" layout="fill">
          </amp-img>
        </amp-img>
      </amp-img>
    </div>
    <figcaption class="imageCaption"></figcaption>
  </figure>
  {{ end }}
{{ end }}
