{{ $mdcTabs := resources.Get "js/compiled/mdc-tabs.js" }}
{{ $script1 := slice $mdcTabs | resources.Concat "landing/scripts/mdc-tabs.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script1.RelPermalink }}"></script>
{{ $mdcTabs := resources.Get "js/compiled/bundle-mdc.js" }}
{{ $script2 := slice $mdcTabs | resources.Concat "landing/scripts/bundle-mdc.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script2.RelPermalink }}"></script>
{{ $mdcAccordion := resources.Get "js/compiled/mdc-accordion.js" }}
{{ $script3 := slice $mdcAccordion | resources.Concat "landing/scripts/mdc-accordion.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script3.RelPermalink }}"></script>
{{ $mdcDrawer := resources.Get "js/compiled/mdc-drawer.js" }}
{{ $script4 := slice $mdcDrawer | resources.Concat "landing/scripts/mdc-drawer.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script4.RelPermalink }}"></script>
{{ $jquery := resources.Get "node_modules/jquery/dist/jquery.js" }}
{{ $scriptJquery := slice $jquery | resources.Concat "landing/scripts/jquery.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $scriptJquery.RelPermalink }}"></script>
{{ $carousel := resources.Get "js/carousel.js" }}
{{ $script5 := slice $carousel | resources.Concat "landing/scripts/carousel.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script5.RelPermalink }}"></script>
