<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"> Joostvanderlaan.nl</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    {{!-- <!-- Navigation -->
    <!-- <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav> --> --}}
  </div>
</header>
<div class="material-drawer mdl-layout__drawer">
  <span class="mdl-layout-title"> Joostvanderlaan.nl</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    {{!-- <!-- <a class="mdl-navigation__link" href="/markdown">Markdown</a> --> --}}
    <a class="mdl-navigation__link" href="/blog">Blog</a>
    {{!-- <!-- <div class="material-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Bootstrap 3</span>
    <a class="mdl-navigation__link" href="/styleguide-bootstrap">CSS</a>
    <a class="mdl-navigation__link" href="/styleguide-bootstrap-components">Components</a>
    <div class="material-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Bootstrap 3 Custom Onepage</span>
    <a class="mdl-navigation__link" href="/styleguide-bootstrap-onepage">Onepage</a>
    <div class="material-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">News site</span>
    <a class="mdl-navigation__link" href="/template-home">4-column home</a>
    <a class="mdl-navigation__link" href="/template-article">3-column article</a> --> --}}
  </nav>
</div>
