version: '2'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - '80:80'
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
  joostvanderlaan-nl-web:
    build: .
    environment:
      - VIRTUAL_HOST=site1.local
      # remember to set this vhost in your hosts file /etc/hosts
