<div class="card m2 mdc-elevation--z1 overflow-hidden bg-white border-gray mb3">
  <div class="card__primary-action">
    <a href="{{ .RelPermalink }}" alt="{{ .Title }}">
      <div class="card__media card__media--16-9 border-bottom border-width2">
        {{ if isset .Params "image"}}
        {{/*  {{ partial "_shared/card-image-srcset" . }}  */}}
        {{ else if isset .Params "logo"}}
        <div class="m2 p3 logo">
          <div class="logo-media flex justify-center">
            <img class="self-center" src="{{ if ne .Params.staticdir true }}{{.RelPermalink }}{{end}}{{ .Params.logo }}"
              alt="{{.Title}}">
          </div>
        </div>
        {{ end }}
      </div>
      <div class="card___primary p2">
        {{ if isset .Params "image" }} {{/* Show logo below headerimage */}}
          {{ if isset .Params "logo" }}
          <div class="p1 logo align-middle">
            <div class="logo-media flex justify-center">
              <img class="self-center" src="{{ if ne .Params.staticdir true }}{{.RelPermalink }}{{end}}{{ .Params.logo }}"
                alt="{{.Title}}">
            </div>
          </div>
          {{ end }}
        {{ end }}
        <h2 class="card___title h6 m0">{{ .Title }}</h2>
        <h3 class="card__subtitle subtitle2 m0">{{ .Params.author }}</h3>
      </div>
      <div class="card___secondary p2 bg-white">
        <p class="typography--body1">{{ if isset .Params "description"}}{{ .Params.Description | truncate 55}}{{ else }}{{ .Summary | truncate 55}}{{ end }}</p> {{/* No more then 3 lines  */}}
        {{/* <span class="post-date">{{ dateFormat "Jan 2, 2006" .PublishDate }} - {{ .ReadingTime }} min read </span>
        */}}
      </div>
    </a>
  </div>
</div>
