{{/* WFB in DFP needs to be renamed from wfb01 to wfb1 */}}

{{$important := .Site.Params.wfbCode }}

{{ if .Site.Params.showWFB}}
{{ if or (eq .Site.Params.locale "en-IE") (eq .Site.Params.locale "en-HU") (eq .Site.Params.locale "zh-HK") (eq .Site.Params.locale "pt-BR") (eq .Site.Params.locale "de-AT") (eq .Site.Params.locale "fr-LU") (eq .Site.Params.locale "sv-SE") (eq .Site.Params.locale "cs-CZ") (eq .Site.Params.locale "da-DK") (eq .Site.Params.locale "fi-FI") (eq .Site.Params.locale "en-JP") (eq .Site.Params.locale "nb-NO") (eq .Site.Params.locale "pt-PT") (eq .Site.Params.locale "pl-PL") (eq .Site.Params.locale "tr-TR") (eq .Site.Params.locale "en-IN") }}

{{ else }}
<section class="grid-container-logos">
    {{ range seq 24 }}
    <div class="m2 p3 logo mdc-elevation--z1">
        <div class="adunit fu-banner-wfb" data-adunit="{{ $important }}_wfb{{ . }}" data-dimensions="150x50"></div>
    </div>
    {{ end }}
</section>


{{ end }}
{{ end }}

{{/* 
<section class="grid-container-logos">
    {{ range seq 24 }}
    <div class="m2 p3 logo mdc-elevation--z1">
        {{ . }}
    </div>
    {{ end }}
</section>
*/}}
