@font-face {
    font-family: 'Open Sans Condensed Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/cdn/theme/fonts/open-sans-condensed-v12-latin-700.woff2') format('woff2'),
             url('/cdn/theme/fonts/fonts/open-sans-condensed-v12-latin-700.woff') format('woff');
    font-display: swap;
}
