@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('/cdn/theme/fonts/Rubik-Bold.woff2') format('woff2'),
             url('/cdn/theme/fonts/fonts/Rubik-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/cdn/theme/fonts/Rubik-Regular.woff2') format('woff2'),
             url('/cdn/theme/fonts/fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: url('/cdn/theme/fonts/Rubik-Italic.woff2') format('woff2'),
             url('/cdn/theme/fonts/fonts/Rubik-Italic.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/cdn/theme/fonts/Rubik-Medium.woff2') format('woff2'),
             url('/cdn/theme/fonts/fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
}