/*ie6*/
.contact_form input, #comment-form input {  width: 521px;  height: 21px; }
.contact_form textarea, #comment-form textarea {  width: 520px;  height: 97px; }

.comments ul li .comment {  margin: -19px 0 0 87px; zoom:1;}

.baloon {  left: -21px;}

